git+https://github.com/elifesciences/elife-tools.git@59582da15b420b7ff932d2b19859657368089400#egg=elifetools
git+https://github.com/elifesciences/elife-article.git@5c124dbe6bb6f3e5aadea3a3659c17e30183c741#egg=elifearticle
GitPython==0.3.2.1
configparser==3.5.0