git+https://github.com/elifesciences/elife-tools.git@0f5dea1b7365438a1988f2aa3de9009f793713c0#egg=elifetools
git+https://github.com/elifesciences/elife-article.git@fe3d0a549a280eec229dd935cb537511c245be99#egg=elifearticle
GitPython==2.1.7
configparser==3.5.0